.donut{
    width: 68px;
    margin-top: 10px;
    font-size: 8px;
}

.display__article{
    display: flex;
    width: 500px;
    margin-left: 620px;
}

.display__text{
    margin: 15px;
}

.title{
    text-transform: capitalize;
    font-size: 22px;
    font-family: Avenir;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 2px;
    letter-spacing: 0.15px;
}

.text{
    text-transform: capitalize;
    color: #5E6878;
    font-family: Avenir;
    font-size: 18px;
    margin-left: 2px;
}

@media screen and (min-width: 1200px) {
    .display__article{
        display: flex;
        width: 600px;
        margin-left: 620px;
    } 
}