.donut{
    width: 22%;
    margin-left: 90%;
    margin-top: 7%;
    font-size: 8px;
}

.display__article{
    display: flex;
    margin-left: 18%;
}

.display__text{
    margin: 2%;
}

.title{
    text-transform: capitalize;
    font-size: 22px;
    font-family: Avenir;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 32px;
    letter-spacing: 0.15px;
}

.text{
    text-transform: capitalize;
    color: #5E6878;
    font-family: Avenir;
    font-size: 18px;
    margin-left: 32px;
}