.button{
    display: flex;
    margin-left: 68%;
    margin-bottom: 3%;
}

.button__cancel{
    display: flex;
    flex-grow: 0.1;
}

.button__next{
    display: flex;
}

.button__cancel button{
    border: 1px solid #1E427B;
    color: #1E427B;
    text-align: center;
    background: #F3F6FC;
    padding: 5px;
    font-size: 12px;
    width: 80px;
}

.button__next button{
    border: 1px solid #F3F6FC;
    text-align: center;
    color: #F3F6FC;
    background: #1E427B;
    padding: 5px;
    font-size: 12px;
    width: 80px;
}

.button__cancel button:hover{
    cursor: pointer;
    border: 1px solid #F3F6FC;
    color: white;
    background: #1E427B;
    transition: 1s;
}

.button__cancel button:not(:hover){
    transition: 1s;
}

.button__next button:not(:hover){
    transition: 1s;
}

.button__next button:hover{
    cursor: pointer;
    border: 1px solid #1E427B;
    color: #1E427B;
    background: #F3F6FC;
    transition: 1s;
}