.display__info{
    display: flex;
    justify-content: flex-start;
    width: 780px;
    margin: 0 auto;
}

.heading{
    text-transform: capitalize;
    font-family: Libre Baskerville;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

.choice__full{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 500px;
}

@media screen and (min-width: 1200px) {
    .choice__full{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 700px;
    }    
    .display__info{
        display: flex;
        justify-content: flex-start;
        width: 1450px;
        margin: 0 auto;
    }
}