.heading{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 1%;
}

.display__article{
    display: flex;
    width: 100%;
    justify-content: center;
}

.display__text{
    margin: 2%;
}

.title{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text{
    text-transform: capitalize;
    color: #9097A2;
}


.donut{
    width: 30%;
    margin-left: 70%;
    margin-top: 5%;
    font-size: 8px;
}

.display__info{
    display: flex;
}

.profile{
    width: 25%;
    box-shadow: 0 0 7px 5px rgba(221, 221, 221, 1);
    margin: 3%;
    height: 70%;
}

.profile__full{
    display: flex;
    padding: 15px;
}

.profile__photo{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
.profile__photo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.profile__info{
    margin-left: 15px;
}

.profile__name{
    font-weight: 500;
    padding-bottom: 2px;
}

.profile__data{
    color: #797e86;
    padding: 2px;
}

.profile__number{
    color: #436DAE;
    padding: 2px;
}

.profile__email{
    color: #436DAE;    
    padding: 2px;
}

.profile__comment{
    color: #6c7075;
    font-size: 13px;
    margin-left: 15px;
    font-weight: 500;
    padding: 5px;
}

.profile__text{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    word-wrap: break-word;
}

.profile__checkbox{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
}

.profile__checkbox__item{
    margin: 2px;
    border-radius: 50px;
    background: #E6ECF9;
    text-transform: capitalize;
}

.checkbox{
    width: 50%;
    margin-left: 5%;
}

.checkbox__full{
    height: 60%;
    overflow: scroll;
    overflow-x:hidden;
}

.checkbox__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(233, 229, 229);
    width: 90%;
    margin: 2%;
    padding: 1%;
    box-shadow: 0 0 2px 0 rgb(226, 224, 224);
}

.checkbox__text{
    display: flex;
    flex-grow: 1;
    margin-left: 3%;
    text-transform: capitalize;
    cursor: default;
}

.checkbox__photo{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.checkbox__photo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.checkbox__item input{
    cursor: pointer;
}

.comment{
    position: relative;
    width: 45%;
    margin-left: 30%;
    margin-top: -15%;
}

.comment textarea{
    color: #000;
    border: 1.5px solid rgb(165, 165, 163);
    box-shadow: 0 0 2px 0 rgb(209, 207, 207);
    height: 70px;
    outline: 0;
    width: 100%;
    padding: 10px;
}

.comment label {
    color: rgb(165, 161, 161);  
    background-color: #FFF;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 15px;
    left: 10px;
}

.comment textarea:focus + label,
.comment textarea:not(:placeholder-shown) + label{
    top: -8px;
    left: 10px;
    font-size: 11px; 
    background-color: #ffffff;
    color: rgb(119, 118, 118);
}

.button{
    display: flex;
    margin-left: 60%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.button__cancel{
    display: flex;
    flex-grow: 0.1;
}

.button__next{
    display: flex;
}

.button__cancel button{
    border: 1px solid darkblue;
    color: darkblue;
    text-align: center;
    background: #F3F6FC;
    padding: 5px;
    font-size: 12px;
    width: 80px;
}

.button__next button{
    border: 1px solid #F3F6FC;
    text-align: center;
    color: #F3F6FC;
    background: darkblue;
    padding: 5px;
    font-size: 12px;
    width: 80px;
}

.button__cancel button:hover{
    cursor: pointer;
    border: 1px solid #F3F6FC;
    color: white;
    background: darkblue;
    transition: 1s;
}

.button__cancel button:not(:hover){
    transition: 1s;
}

.button__next button:not(:hover){
    transition: 1s;
}

.button__next button:hover{
    cursor: pointer;
    border: 1px solid darkblue;
    color: darkblue;
    background: #F3F6FC;
    transition: 1s;
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#ebeef0;
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#56999f;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:14px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 7px;
    }
